<!-- pensioner Create starts-->


<!-- pensioner Create ends-->
<div *ngIf="action == pensionerEditViewAction.CREATE">
  <section class="vh-100 bg-image"
    style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">Create a Pensioner</h2>

                <form>
                  <div class="form-outline mb-4">
                    <input name="Name" type="text" [(ngModel)]="pensioner.Name" id="name"
                      class="form-control form-control-lg" placeholder="Enter Name" />

                  </div>

                  <div class="form-outline mb-4">
                    <input name="DateOfBirth" type="text" [(ngModel)]="pensioner.DateOfBirth" id="DOB"
                      class="form-control form-control-lg" placeholder="Enter Date of Birth" />

                  </div>

                  <div class="form-outline mb-4">
                    <input name="AadhaarNumber" type="text" [(ngModel)]="pensioner.AadhaarNumber" id="aadharNo"
                      placeholder="Enter Aadhaar Number" class="form-control form-control-lg" />

                  </div>

                  <div class="form-outline mb-4">
                    <input name="PAN" type="text" [(ngModel)]="pensioner.PAN" id="PAN" placeholder="Enter PAN"
                      class="form-control form-control-lg" />

                  </div>

                  <div class="form-outline mb-4">
                    <input name="SalaryEarned" id="salaryEarned" type="text" [(ngModel)]="pensioner.SalaryEarned"
                      placeholder="Enter SalaryEarned" id="salaryEarned" class="form-control form-control-lg" />

                  </div>


                  <div class="form-outline mb-4">
                    <input name="Allowances" id="allowances" type="text" [(ngModel)]="pensioner.Allowances"
                      placeholder="Enter Allowances" id="allowances" class="form-control form-control-lg" />

                  </div>

                  <div class="form-outline mb-4">
                    <input name="SelfOrFamilyPension" type="text" [(ngModel)]="pensioner.SelfOrFamilyPension"
                      placeholder="Enter Self or family pension" id="selfOrfamily"
                      class="form-control form-control-lg" />

                  </div>

                  <div class="form-outline mb-4">
                    <input name="BankName" type="text" [(ngModel)]="pensioner.BankDetails.BankName"
                      placeholder="Enter BankName" id="bankName" class="form-control form-control-lg" />

                  </div>

                  <div class="form-outline mb-4">
                    <input name="AccountNumber" type="text" [(ngModel)]="pensioner.BankDetails.AccountNumber"
                      placeholder="Enter AccountNumber" id="accountNo" class="form-control form-control-lg" />

                  </div>

                  <div class="form-outline mb-4">
                    <input name="PublicOrPrivateBank" type="text" type="PublicOrPrivateBank"
                      [(ngModel)]="pensioner.BankDetails.PublicOrPrivateBank" id="privateOrPublic"
                      placeholder="Enter public or private bank" class="form-control form-control-lg" />

                  </div>





                  <div class="d-flex justify-content-center">
                    <button type="button" (click)="CreatePensioner()"
                      class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                  </div>



                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- pensioner Update starts-->
<div *ngIf="action == pensionerEditViewAction.EDIT">
  <section class="vh-100 bg-image"
    style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">Edit Pensioner</h2>

                <form>
                  <div class="form-outline mb-4">
                    <label class="form-label" >Name</label>
                    <input name="Name" type="text" [(ngModel)]="pensioner.Name" id="name"
                      class="form-control form-control-lg" placeholder="Enter Name" />

                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" >Date Of Birth</label>
                    <input name="DateOfBirth" type="text"  [(ngModel)]="pensioner.DateOfBirth" id="DOB"
                      class="form-control form-control-lg" placeholder="Enter Date of Birth" />
                     

                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" >Adhaar Number</label>
                    <input name="AadhaarNumber" type="text" disabled [(ngModel)]="pensioner.AadhaarNumber" id="aadharNo"
                      placeholder="Enter Aadhaar Number" class="form-control form-control-lg" />

                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" >PAN Number</label>
                    <input name="PAN" type="text" [(ngModel)]="pensioner.PAN" id="PAN" placeholder="Enter PAN"
                      class="form-control form-control-lg" />

                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" >Salary Earned</label>
                    <input name="SalaryEarned" id="salaryEarned" type="text" [(ngModel)]="pensioner.SalaryEarned"
                      placeholder="Enter SalaryEarned" id="salaryEarned" class="form-control form-control-lg" />

                  </div>


                  <div class="form-outline mb-4">
                    <label class="form-label" >Allowances</label>
                    <input name="Allowances" id="allowances" type="text" [(ngModel)]="pensioner.Allowances"
                      placeholder="Enter Allowances" id="allowances" class="form-control form-control-lg" />

                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" >Self or Family Pension</label>
                    <!-- <input name="SelfOrFamilyPension" type="text" [(ngModel)]="pensioner.SelfOrFamilyPension"
                      placeholder="Enter Self or family pension" id="selfOrfamily"
                      class="form-control form-control-lg" /> -->
                      <select name="PensionType" 
                      class="dropdown-toggle form-control form-control-lg ng-untouched ng-pristine ng-valid dropdownIcon"
                      [(ngModel)]="pensioner.SelfOrFamilyPension">
                        <option value="SELF">SELF</option>
                        <option value="FAMILY">FAMILY</option>                      
                      </select> 

                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" >Bank Name</label>
                    <input name="BankName" type="text" [(ngModel)]="pensioner.BankDetails.BankName"
                      placeholder="Enter BankName" id="bankName" class="form-control form-control-lg" />

                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" >Account Number</label>
                    <input name="AccountNumber" type="text" [(ngModel)]="pensioner.BankDetails.AccountNumber"
                      placeholder="Enter AccountNumber" id="accountNo" class="form-control form-control-lg" />

                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" >Public Or Private Bank</label>                    
                    <select name="BankType" 
                    class="dropdown-toggle form-control form-control-lg ng-untouched ng-pristine ng-valid dropdownIcon"
                    [(ngModel)]="pensioner.BankDetails.PublicOrPrivateBank" >
                      <option value="PUBLIC">PUBLIC</option>
                      <option value="PRIVATE">PRIVATE</option>                      
                    </select>                    

                  </div> 

                  <div class="d-flex justify-content-center">
                    <button type="button" (click)="UpdatePensioner()"
                      class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Update</button>
                  </div>



                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- pensioner Update ends-->
 