
<!-- <h2>Fill out the form below</h2>

<input type="text" placeholder="Enter your name " />Name
<br />
<input type="number" placeholder="Enter your age " />Age
<br/>
<div>
  <input type="radio" id="gender" value="male">Male
  <input type="radio" id="gender" for="gender" value="female">female
</div>


<button>Submit </button> -->

<h2>{{title}}</h2>

<input type="text" [(ngModel)]="name" placeholder="Enter your name " />Name
<br />
<Input type="number" [(ngModel)]="age" placeholder="Enter your age " />Age
<br />
gender
<br />
<div>
    <input type="radio" [(ngModel)]="gender"  id="gender" for="gender" value="male">Male
    <input type="radio" [(ngModel)]="gender"  id="gender" for="gender" value="female">female
</div>


<button (click)="save()">Submit </button>