<div class="form-outline mb-4">
  <!-- <label class="form-label" for="form3Example3">Enter your aadhaar number</label> -->
  <input name="aadhaarNumber" type="aadhaarNumber" [(ngModel)]="this.pensioner.AadhaarNumber" id="form3Example3"
    class="form-control form-control-lg" placeholder="Enter your aadhaar number" />

<button style="margin: left 100px ;" (click)="getDetail()">GetDetails</button>
    

</div>

 <!-- Form Group (Name)-->
 <div class="mb-3">
  <label class="small mb-1" for="inputUsername">Name</label>
  <input class="form-control" id="inputUsername" type="text" [(ngModel)]="pensioner.Name" >
</div>
<!-- Form Row (DOB)-->
<div class="mb-3">
  <label class="small mb-1" for="inputUsername">DOB</label>
  <input class="form-control" id="inputUsername" type="text" [(ngModel)]="pensioner.DateOfBirth" >
</div>
<!-- Form Row (AadhaarNumber)-->
<div class="mb-3">
  <label class="small mb-1" for="inputUsername">AadhaarNumber</label>
  <input class="form-control" id="inputUsername" type="text" [(ngModel)]="pensioner.AadhaarNumber" >
</div>
<!-- Form Row (PAN)-->
<div class="mb-3">
  <label class="small mb-1" for="inputUsername">PAN</label>
  <input class="form-control" id="inputUsername" type="text" [(ngModel)]="pensioner.PAN" >
</div>
<!-- Form Row (SalaryEarned)-->
<div class="mb-3">
  <label class="small mb-1" for="inputUsername">SalaryEarned</label>
  <input class="form-control" id="inputUsername" type="text" [(ngModel)]="pensioner.SalaryEarned" >
</div>
<!-- Form Row (Allowances)-->
<div class="mb-3">
  <label class="small mb-1" for="inputUsername">Allowances</label>
  <input class="form-control" id="inputUsername" type="text" [(ngModel)]="pensioner.Allowances" >
</div>

<!-- Form Row (BankName)-->
<div class="mb-3">
  <label class="small mb-1" for="inputUsername">BankName</label>
  <input class="form-control" id="inputUsername" type="text" [(ngModel)]="pensioner.BankDetails.BankName" >
</div>
<!-- Form Row (AccountNumber)-->
<div class="mb-3">
  <label class="small mb-1" for="inputUsername">AccountNumber</label>
  <input class="form-control" id="inputUsername" type="text" [(ngModel)]="pensioner.BankDetails.AccountNumber" >
</div>
<!-- Form Row (PublicOrPrivateBank)-->
<div class="mb-3">
  <label class="small mb-1" for="inputUsername">PublicOrPrivateBank</label>
  <input class="form-control" id="inputUsername" type="text" [(ngModel)]="pensioner.BankDetails.PublicOrPrivateBank" >
</div>


