<div *ngIf="isValidAdhaarNumber(this.aadhaarNumber) && showPensionerDetail">
  <section class="h-100 h-custom" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card border-top border-bottom border-3" style="border-color: #f37a27 !important;">
            <div class="card-body p-5">

              <p class="lead fw-bold mb-5" style="color: #f37a27;">Pensioner Details</p>
              <div class="mx-n5 px-5 py-4" style="background-color: #f2f2f2;">
                <div class="row">
                  <div class="col-md-8 col-lg-9">
                    <p class="mb-0">Name</p>
                  </div>
                  <div class="col-md-4 col-lg-3">
                    <label name="Name" [innerHTML]="pensioner.Name" id="lblbankServiceCharge"></label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8 col-lg-9">
                    <p class="mb-0">DOB</p>
                  </div>
                  <div class="col-md-4 col-lg-3">
                    <label name="DOB" [innerHTML]="pensioner.DateOfBirth" id="lblbankServiceCharge"></label>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-8 col-lg-9">
                    <p class="mb-0">Aadhaar Number</p>
                  </div>
                  <div class="col-md-4 col-lg-3">
                    <label name="AadhaarNumber" [innerHTML]="pensioner.AadhaarNumber" id="lblbankServiceCharge"></label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8 col-lg-9">
                    <p class="mb-0">PAN</p>
                  </div>
                  <div class="col-md-4 col-lg-3">
                    <label name="PAN" [innerHTML]="pensioner.PAN" id="lblbankServiceCharge"></label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8 col-lg-9">
                    <p class="mb-0">SalaryEarned</p>
                  </div>
                  <div class="col-md-4 col-lg-3">
                    <label name="SalaryEarned" [innerHTML]="pensioner.SalaryEarned" id="lblbankServiceCharge"></label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8 col-lg-9">
                    <p class="mb-0">Allowances</p>
                  </div>
                  <div class="col-md-4 col-lg-3">
                    <label name="Allowances" [innerHTML]="pensioner.Allowances" id="lblbankServiceCharge"></label>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-8 col-lg-9">
                    <p class="mb-0">SelfOrFamilyPension</p>
                  </div>
                  <div class="col-md-4 col-lg-3">
                    <label name="SelfOrFamilyPension" [innerHTML]="pensioner.SelfOrFamilyPension"
                      id="lblbankServiceCharge"></label>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-8 col-lg-9">
                    <p class="mb-0">BankName</p>
                  </div>
                  <div class="col-md-4 col-lg-3">
                    <label name="BankName" [innerHTML]="pensioner.BankDetails.BankName"
                      id="lblbankServiceCharge"></label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8 col-lg-9">
                    <p class="mb-0">AccountNumber</p>
                  </div>
                  <div class="col-md-4 col-lg-3">
                    <label name="AccountNumber" [innerHTML]="pensioner.BankDetails.AccountNumber"
                      id="lblbankServiceCharge"></label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8 col-lg-9">
                    <p class="mb-0">PublicOrPrivateBank</p>
                  </div>
                  <div class="col-md-4 col-lg-3">
                    <label name="PublicOrPrivateBank" [innerHTML]="pensioner.BankDetails.PublicOrPrivateBank"
                      id="lblbankServiceCharge"></label>
                  </div>
                </div>


              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div  *ngIf="this.aadhaarNumber.length > 0 && !isValidAdhaarNumber(this.aadhaarNumber)">
     <h3 class="error">Not a valid adhaarnumber</h3>
</div>
<div  *ngIf="!showPensionerDetail">
  <h3  class="error">Adhaar number does not exists</h3>
</div>
<div  *ngIf="this.aadhaarNumber.length == 0">
  <h3  class="error">Please enter adhaar number</h3>
</div>
